<div class="collapse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4>About</h4>
        <p >I Know HTML, Css, Javascript, Rails, and Ruby.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4>Death Awaits</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Me", about_me_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Blog", blogs_path %></li>
          <li><%= link_to "Portfolio", portfolios_path %></li>
          <li><%= login_helper %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Davin Woolf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

